    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --verde: #01B574;
    --branco: #F4F4F4;
    --cinza_letra: #D9D9D9;
    --cinza_icons: #8F8F8F;
    --rosa: #CF4B83;
    --font1: 'ABeeZee', sans-serif;
    --font2: 'Titillium Web', sans-serif; 
}

.logo{
    width: 70px;
    margin-left: 3px; 
}


body{
    background-color: var(--branco);
    height: 100%;   
}


.login{      
    display: flex;
    justify-content: space-between; 
    
}


.login_usuario{
    margin-left: 100px;
    box-shadow: 2px 2px 70px rgba(0, 0, 0, 0.25);
    border-radius: 120px;

    padding: 40px;
    width: 450px ;
    height: 620px;
}


h2{
    font-family: var(--font1);
    color: var(--verde);
    padding-top: 80px;
    text-transform: uppercase;
    margin-left: 20px;
}


.slogan_1{
    font-size: 15px;
    font-family: var(--font1);
    color: var(--cinza_icons);
    margin-left: 20px;
}


.inputs{
    background-color:#01b57421;
    border: none;
    height:40px;
    width: 300px;
    border-radius: 12px;
    padding: 15px;
    margin: 15px;
}

.usuario{
    margin-top: 50px;
}



.btn_login{
	
    padding: 10px;
	border-radius: 20px;
	border: none;
    font-family: var(--font2);
	text-transform: uppercase;
    text-decoration: none;
	color: #fff;
	background: var(--verde);
    padding: top 70px;
    margin-top: 70px;

	
}

.btn_senha{
    text-decoration: none;
    font-family: var(--font2);
    color: #11724F;
    font-size: 10px;

    margin-top: 20px;
   

}


.banner{ 
    background-color: var(--verde);
    clip-path: circle(90.5% at 100% 45%);
    margin-top: -80px;
    height: 751px;  
    position: relative;
    
}

.banner_conteudo{
    display: flex;
    flex-direction: column;
    align-items:center;

}

.banner_txt{
    font-size: 48px;
    color: var(--branco);
    font-family: var(--font1);
    
    padding: 60px;
    margin-left: 35%;
    display: flex;
}

.img_lampada{
    height: 50%;
    width: 50%;
    margin-left: 300px;
    margin-top: -49px;
}